[user]
    name = denis | walderhu
    email = denis.lipatov163@gmail.com

[alias]
    list = config --list
    apply = config --global include.path # $(GITCONFIG_PATH)
    unapply = config --global --unset include.path

    amend = "!f() { git add . && git commit --amend --no-edit && git push -f; }; f"
    tmp = "!f() { git add . && git commit -m 'Temporary commit' && git push; }; f"
    delete = "!f() { git push origin --delete \"$1\" && git branch -D \"$1\"; }; f"
    
    last = log -1 HEAD
    diff = diff --color-words 
    patch = format-patch origin/master
    lg = log --graph --oneline --decorate
    s = checkout -
    diff = diff --cached
    dev = "!f() { git checkout walderhu/develop; }; f"
    fea = "!f() { git checkout walderhu/feature; }; f"
    master = "!f() { git checkout walderhu/master; }; f"

[merge]
    tool = meld
    conflictstyle = diff3
    options = -X theirs

[init]
    defaultBranch = walderhu/feature

[core]
    editor = nano
    # editor = code --wait  

[completion]
    auto = true

[pull]
    rebase = true  

[credential]
    helper = cache 

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[completion]
    auto = true
    useConfigOnly = true