[user]
    name = denis | walderhu
    email = denis.lipatov163@gmail.com

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[alias]
    co = checkout
    ci = commit
    lg = log --graph --oneline --decorate
    amend = commit --amend --no-edit
    last = log -1 HEAD
    ciw = commit -m

[merge]
    tool = meld
    conflictstyle = diff3
    options = -X theirs

[core]
    editor = code --wait  

[completion]
    auto = true

[pull]
    rebase = true  