[user]
    name = denis | walderhu
    email = denis.lipatov163@gmail.com

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto

[alias]
    lg = log --graph --oneline --decorate
    amend = commit --amend --no-edit
    last = log -1 HEAD
    ciw = commit -m
    undo = reset HEAD~1 --mixed
    uncommit = reset HEAD~1 --soft
    format-patch = format-patch origin/master
    diff = diff --color-words 
    delete = "!f() { git push origin --delete \"$1\" && git branch -D \"$1\"; }; f"
    tmp = "!f() { git add . && git commit -m 'Temporary commit' && git push; }; f"

[merge]
    tool = meld
    conflictstyle = diff3
    options = -X theirs

[core]
    editor = code --wait  
    # editor = nano

[completion]
    auto = true

[pull]
    rebase = true  